<div class="container">
  <footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 col-lg-3 col-xl-3">
          <h5 class="pt-4">Amara</h5>
          <hr class=""/>
          <div>
            <ul>
              <li>Laser & Beauty Center</li>
              <li>Beauty</li>
              <li>Cosmetica</li>
              <li>Persoonlijke verzorging</li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-lg-3 col-xl-3">
          <h5 class="pt-4">Behandelingen</h5>
          <hr/>
          <div>
            <ul>
              <li><a>Diode ice laser</a></li>
              <li><a>EMsculpting</a></li>
              <li>
                <a>Tanden bleken</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 col-lg-3 col-xl-3">
          <h5 class="pt-4">Openingstijden</h5>
          <hr/>
          <table class="openingstijden" id="openingstijden">
            <tbody>
            <tr>
              <td class="day">Maandag</td>
              <td>Gesloten</td>
            </tr>

            <tr>
              <td class="day">Dinsdag </td><td><span>10:30 - 18:00</span></td>
            </tr>

            <tr>
              <td class="day">Woensdag</td>
              <td><span>10:30 - 18:00</span></td>
            </tr>

            <tr>
              <td class="day">Donderdag</td>
              <td><span>10:30 - 18:00</span></td>
            </tr>

            <tr>
              <td class="day">Vrijdag</td>
              <td><span>10:30 - 18:00</span></td>
            </tr>

            <tr>
              <td class="day">Zaterdag</td>
              <td><span>10:30 - 18:00</span></td>
            </tr>

            <tr>
              <td class="day">Zondag</td>
              <td><span>12:00 - 18:00</span></td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="col-md-3 col-lg-3 col-xl-3">
          <h5 class="pt-4">Contact</h5>
          <hr/>
          <ul>
            <li>
              0645486350
            </li>
            <li>
              Instagram
            </li>


            <li>
              Email
            </li>
            <li>
              Leyweg 657Q, 2545 GK Den Haag
            </li>
          </ul>
        </div>
      </div>
      <hr/>
      <div class="text-center">
        <span>© 2022 Copyright:</span>
        <span>www.amara.com</span>
      </div>
    </div>
  </footer>
</div>
