body {
  --mfn-woo-body-color: #626262;
  --mfn-woo-heading-color: #444444;
  --mfn-woo-themecolor: #c0a054;
  --mfn-woo-bg-themecolor: #c0a054;
  --mfn-woo-border-themecolor: #c0a054;
}

body, ul.timeline_items, .icon_box a .desc, .icon_box a:hover .desc, .feature_list ul li a, .list_item a, .list_item a:hover, .widget_recent_entries ul li a, .flat_box a, .flat_box a:hover, .story_box .desc, .content_slider.carousel ul li a .title, .content_slider.flat.description ul li .desc, .content_slider.flat.description ul li a .desc, .post-nav.minimal a i {
  color: #626262;
}
