<div>
  <app-section title="Behandeling"></app-section>
  <div class="container">
    <div class="detail-pagina">
      <div class="row">
        <div class="paragraaf-detail-pagina col-lg-8 col-sm-12">
          <h1>Epileren</h1>
          <p>
            Waarom zou u zich druk maken over haargroei als u er ook vanaf
            kunt komen? Met onze expertise zorgen we ervoor dat uw
            wenkbrauwen op de juiste manier worden geëpileerd.
          </p>
        </div>
        <div class="col-lg-4 col-sm-12 d-flex justify-content-center">
          <img class="img-detail-pagina" src="./assets/images/amaralogo.svg" alt="" />
        </div>
      </div>
      <div class="row">
        <div class="paragraaf-detail-pagina col-lg-8 col-sm-12">
          <h1>Epileren</h1>
          <p>
            Waarom zou u zich druk maken over haargroei als u er ook vanaf
            kunt komen? Met onze expertise zorgen we ervoor dat uw
            wenkbrauwen op de juiste manier worden geëpileerd.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="space"></div>
</div>

