.carousel-inner img {
  width: 100%;
  height: 100%;
}
.carousel-item {
  height:550px
}
.carousel-item img{
  width:100%;
  height:100%;
  object-fit:cover;
  border: 2px solid rgb(191, 168, 122);
  border-radius: 0.3rem;
}

.carousel-inner {
}
.carousel {
  padding-bottom: 2rem;
  padding-top: 2rem;
  color: rgb(191, 168, 122);
}

 .carousel-indicators {
   margin: auto;
 }

.carousel-indicators  button{
  background-color: rgb(191, 168, 122);
}
.carousel-control-next {
  right: 0;
}
