<div class="container">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="./Homepage.html">
        <img src="./assets/images/amaralogo.svg" alt="">
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link aria-current=page"><span>Home</span></a>
          <a class="nav-link">Behandelingen</a>
          <a class="nav-link">Resultaten</a>
          <a class="nav-link">Prijzen</a>
          <a class="nav-link">Contact</a>
        </div>
      </div>
    </div>
  </nav>
</div>

